// flex layout functions
@mixin flex-align(
	$direction: row,
	$main-axis: space-between,
	$cross-axis: center,
	$wrap: nowrap
) {
	display: flex;
	flex-direction: $direction;
	justify-content: $main-axis;
	align-items: $cross-axis;
	flex-wrap: $wrap;
}

@mixin grid-align-cards($cell-width: 200px) {
	display: grid;
	grid-template-columns: repeat(auto-fill, $cell-width);
	place-content: space-between;
	column-gap: 20px;
}

@mixin text-ellipsis() {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	word-break: unset;
}

@mixin position-abs-center() {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
