// colors

// measurements and units
$header-height: 50px;
$header-left-width: 200px;
$header-right-width: 240px;
$banner-height: 280px;
$banner-img-width: 730px;

$theme-primary-color: #c33f18;
$header-bg-color: #c33f18;
